<%= turbo_stream.update("treatments_list") do %>
  <h2 class="text-lg mb-2">
    Historial de tratamientos
  </h2>
  <% @treatments.each do |treatment| %>
    <div class="relative">
      <h4 class="text-md">F. del tratamiento:</h4>
      <p class="ml-2"><%= l(treatment.date, format: '%d de %B del %Y') %></p>
      <h4 class="text-md mt-2">Procedimiento:</h4>
      <p class="ml-2 whitespace-pre-line"><%= treatment.procedure %></p>
      <h4 class="text-md mt-2">Medicamentos:</h4>
      <p class="ml-2 whitespace-pre-line"><%= treatment.meds %></p>
      <%= link_to edit_patient_consultation_path(id: treatment.id), data: { turbo_stream: true }, class: "text-blue-800 hover:text-blue-900 absolute top-0 right-0", title: "Editar" do %>
        <%= show_svg("edit.svg") %>
      <% end %>
      <%= link_to 'Eliminar', patient_consultation_path(id: treatment.id), method: :delete, class: 'text-red-600 text-sm mt-2 block p-1', data: { 'turbo-confirm': "¿Estas seguro que deseas eliminar de forma permanente este tratamiento?", 'turbo-method': :delete }  %>
    </div>
  <% end %>
<% end %>

<% if @treatments.any? %>
  <%= turbo_stream.update "treatments_pagination" do %>
    <%== pagy_nav(@pagy, link_extra: 'data-turbo-stream="true"') %>
  <% end %>
<% end %>
