<div id="lab-form" data-component-type="form" class="grid grid-cols-2 grid-rows-2 block shadow rounded bg-white p-4 gap-x-6 hidden">
  <div class="pt-2">
    <%= f.label :laboratory, 'Laboratorio:' %>
    <%= f.text_field :laboratory, class: 'w-10/12 rounded p-2 text-gray-900 border border-gray-300 focus:ring-blue-500 focus:border-blue-500' %>
  </div>
  <div class="pt-2">
    <%= f.label :cabinet, 'Gabinete:' %>
    <%= f.text_field :cabinet, class: 'w-10/12 rounded p-2 text-gray-900 border border-gray-300 focus:ring-blue-500 focus:border-blue-500' %>
  </div>
  <div class="pt-2">
    <%= f.label :consultations, 'Interconsultas:' %>
    <%= f.text_field :consultations, class: 'w-10/12 rounded p-2 text-gray-900 border border-gray-300 focus:ring-blue-500 focus:border-blue-500' %>
  </div>
  <div class="pt-2">
    <%= f.label :requested_studies, 'Estudios solicitados:' %>
    <%= f.text_field :requested_studies, class: 'w-10/12 rounded p-2 text-gray-900 border border-gray-300 focus:ring-blue-500 focus:border-blue-500' %>
  </div>
</div>
