<div>
  <%= f.label :laboratory, 'Laboratorio:' %>
  <%= f.text_field :laboratory %>

  <%= f.label :cabinet, 'Gabinete:' %>
  <%= f.text_field :cabinet %>

  <%= f.label :consultations, 'Interconsultas:' %>
  <%= f.text_field :consultations %>

  <%= f.label :requested_studies, 'Estudios solicitados:' %>
  <%= f.text_field :requested_studies %>
</div>
