<div id="physical-exploration-form" data-component-type="form" class="grid grid-cols-3 grid-rows-3 bg-white block shadow rounded p-4 gap-x-6 hidden">
  <div class="grid grid-cols-2 gap-2 w-full">
    <div class = "w-full">
      <%= f.label :blood_type, 'Gpo:' %>
      <%= f.select :blood_type, options_for_select(blood_type_select_options, selected: @patient.blood_type),
                                {},
                                { class: 'w-full rounded p-2 text-gray-900 border border-gray-300 focus:ring-blue-500 focus:border-blue-500' } %>
    </div>
    <div>
      <%= f.label :rh_factor, 'Rh:' %>
      <%= f.select :rh_factor, options_for_select(rh_factor_select_options, selected: @patient.rh_factor),
                                {},
                                { class: 'w-full rounded p-2 text-gray-900 border border-gray-300 focus:ring-blue-500 focus:border-blue-500'} %>
    </div>
  </div>
  <div class = "w-full">
    <%= f.label :head, 'Cabeza:' %>
    <%= f.text_area :head, class: 'w-full rounded p-2 text-gray-900 border border-gray-300 focus:ring-blue-500 focus:border-blue-500', rows: 1 %>
  </div>
  <div class = "w-full">
    <%= f.label :abdomen, 'Abdomen:' %>
    <%= f.text_area :abdomen, class: 'w-full rounded p-2 text-gray-900 border border-gray-300 focus:ring-blue-500 focus:border-blue-500', rows: 1 %>
  </div>
  <div class="grid grid-cols-2 gap-2 w-full pt-2">
    <div class = "w-full">
      <%= f.label :weight, 'Peso(Kg):' %>
      <%= f.number_field :weight, class: 'w-full rounded p-2 text-gray-900 border border-gray-300 focus:ring-blue-500 focus:border-blue-500' %>
    </div>
    <div class = "w-full">
      <%= f.label :height, 'Talla(cm):' %>
      <%= f.number_field :height, class: 'w-full rounded p-2 text-gray-900 border border-gray-300 focus:ring-blue-500 focus:border-blue-500' %>
    </div>
  </div>
  <div class = "w-full pt-2">
    <%= f.label :neck, 'Cuello:' %>
    <%= f.text_area :neck, class: 'w-full rounded p-2 text-gray-900 border border-gray-300 focus:ring-blue-500 focus:border-blue-500', rows: 1 %>
  </div>
  <div class = "w-full pt-2">
    <%= f.label :spine, 'Columna:' %>
    <%= f.text_area :spine, class: 'w-full rounded p-2 text-gray-900 border border-gray-300 focus:ring-blue-500 focus:border-blue-500', rows: 1 %>
  </div>
  <div class="grid grid-cols-4 gap-2 w-full pt-2">
    <div class = "w-full">
      <%= f.label :blood_pressure, 'TA:' %>
      <%= f.text_field :blood_pressure, class: 'w-full rounded p-2 text-gray-900 border border-gray-300 focus:ring-blue-500 focus:border-blue-500' %>
    </div>
    <div class = "w-full">
      <%= f.label :heart_rate, 'FC:' %>
      <%= f.number_field :heart_rate, class: 'w-full rounded p-2 text-gray-900 border border-gray-300 focus:ring-blue-500 focus:border-blue-500' %>
    </div>
    <div class = "w-full">
      <%= f.label :breath_rate, 'FR:' %>
      <%= f.number_field :breath_rate, class: 'w-full rounded p-2 text-gray-900 border border-gray-300 focus:ring-blue-500 focus:border-blue-500' %>
    </div>
    <div class = "w-full">
      <%= f.label :spo2, 'SPO2:' %>
      <%= f.text_field :spo2, class: 'w-full rounded p-2 text-gray-900 border border-gray-300 focus:ring-blue-500 focus:border-blue-500' %>
    </div>
  </div>
  <div class = "w-full pt-2">
    <%= f.label :chest, 'Tórax:' %>
    <%= f.text_area :chest, class: 'w-full rounded p-2 text-gray-900 border border-gray-300 focus:ring-blue-500 focus:border-blue-500', rows: 1 %>
  </div>
  <div class = "w-full pt-2">
    <%= f.label :extremities, 'Extremidades:' %>
    <%= f.text_area :extremities, class: 'w-full rounded p-2 text-gray-900 border border-gray-300 focus:ring-blue-500 focus:border-blue-500', rows: 1 %>
  </div>
</div>
