<div>
  <%= f.label :tx_date, 'F. del tratamiento:' %>
  <%= f.date_field :tx_date %>

  <%= f.label :tx_procedure, 'Procedimiento:' %>
  <%= f.text_area :tx_procedure %>

  <%= f.label :medicines, 'Medicamento:' %>
  <%= f.text_area :medicines %>
</div>


