<div id="treatment-form" data-component-type="form" class="grid grid-cols-3 block shadow rounded bg-white p-4 gap-x-6 hidden">
  <div class = "w-full">
    <%= f.label :tx_procedure, 'Procedimiento:' %>
    <%= f.text_area :tx_procedure, class: 'w-full rounded p-2 text-gray-900 border border-gray-300 focus:ring-blue-500 focus:border-blue-500' %>
  </div>

  <div class = "w-full">
    <%= f.label :medicines, 'Medicamento:' %>
    <%= f.text_area :medicines, class: 'w-full rounded p-2 text-gray-900 border border-gray-300 focus:ring-blue-500 focus:border-blue-500' %>
  </div>

  <div class = "w-full">
    <%= f.label :tx_date, 'F. del tratamiento:' %>
    <%= f.date_field :tx_date, class: 'w-full rounded p-2 text-gray-900 border border-gray-300 focus:ring-blue-500 focus:border-blue-500' %>
  </div>
</div>


