<div class='shadow-sm rounded p-4 m-4 bg-blue-50'>
  <h1 class='text-3xl font-bold mb-4 text-black flex justify-center text-blue-900'>Pacientes</h1>
  <div class = "shadow-sm rounded p-4 mb-6 bg-white">
    <%= render 'search_field' %>
    <div class="overflow-x-auto shadow-md sm:rounded-lg">
      <table class='w-full text-sm text-left text-gray-900 dark:text-gray-400 mb-5 border-black table-auto rtl:text-right text-gray-500 dark:text-gray-400'>
        <thead class='text-lg text-white uppercase'>
          <tr>
            <th scope="col" class="px-6 py-3 bg-blue-600">Nombre</th>
            <th scope="col" class="px-6 py-3 bg-blue-600">Edad</th>
            <th scope="col" class="px-6 py-3 bg-blue-600">Fecha Ingreso</th>
            <th scope="col" class="px-6 py-3 bg-blue-600">Genero</th>
            <th scope="col" class="px-6 py-3 bg-blue-600">Antecedentes</th>
            <th scope="col" class="px-6 py-3 bg-blue-600"></th>
          </tr>
        </thead>
        <tbody>
          <% if @patients.any? %>
            <% @patients.each do |p| %>
              <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= p.name %> </th>
                <td class="px-6 py-4"> <%= p.age %> </td>
                <td class="px-6 py-4"> <%= p.registered_at.strftime('%-d de %B del %Y') %> </td>
                <td class="px-6 py-4"> <%= p.gender.titleize %> </td>
                <td class="px-6 py-4"> <%= p.medical_background&.truncate(100) %> </td>
                <td class="flex items-center pt-1.5 gap-x-1.5">
                  <%= link_to edit_patient_path(p), method: :patch, class: 'h-4 w-4', title: 'Editar' do %>
                    <%= show_svg('edit-solid.svg') %>
                  <% end %>
                  <%= button_to patient_path(p), method: :delete, data: { turbo_confirm: '¿Estas seguro?' }, class: 'h-4 w-4 flex', title: "Eliminar" do %>
                    <%= show_svg('trash-solid.svg')  %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <td colspan='2'> <p>No hay registros</p> </td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= link_to 'Agregar paciente',
    new_patient_path,
    class: 'bg-blue-600 hover:bg-blue-800 shadow-sm text-white font-bold py-2 px-4 rounded' %>
      <%= link_to 'Guardar datos',
    patients_path(format: :zip),
    class: 'bg-blue-600 hover:bg-blue-800 shadow-sm text-white font-bold py-2 px-4 rounded' %>
</div>
