<div class='shadow-md shadow-black rounded p-4 m-4 bg-violet-200'>
  <h1 class='text-3xl mb-4 text-black flex justify-center text-violet-800'>Pacientes</h1>
  <div class = "shadow-lg shadow-black rounded p-4 mb-6 bg-white">
    <div class='pb-4 bg-white mt-4 dark:bg-gray-900'>
      <label for='table-search' class='sr-only'>Search</label>
      <div class='relative mt-1'>
        <div class='absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none'>
          <svg class='w-5 h-5 text-gray-500 dark:text-gray-400'
              aria-hidden='true'
              fill='currentColor'
              viewBox='0 0 20 20'
              xmlns='http://www.w3.org/2000/svg'>
              <path fill-rule='evenodd'
                    d='M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z'
                    clip-rule='evenodd'></path></svg>
        </div>
        <input type='text' id='table-search' class='block p-2 pl-10
                                                    text-sm
                                                    text-gray-900
                                                    border
                                                    border-gray-300
                                                    rounded-lg w-80
                                                    bg-gray-50
                                                    focus:ring-blue-500
                                                    focus:border-blue-500
                                                    dark:bg-gray-700
                                                    dark:border-gray-600
                                                    dark:placeholder-gray-400
                                                    dark:text-white
                                                    dark:focus:ring-blue-500
                                                    dark:focus:border-blue-500'
                                            placeholder='Buscar paciente'>
      </div>
    </div>
    <table class='w-full text-sm text-left text-gray-500 dark:text-gray-400 mb-5 border-black table-auto'>
      <thead class='text-lg text-white uppercase bg-violet-800 '>
        <tr>
          <td>Nombre</td>
          <td>Edad</td>
          <td>Fecha Ingreso</td>
          <td>Genero</td>
          <td>Antecedentes</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% if @patients.any? %>
          <% @patients.each do |p| %>
            <tr>
              <td> <%= p.name %> </td>
              <td> <%= p.age %> </td>
              <td> <%= p.registered_at %> </td>
              <td> <%= p.gender.titleize %> </td>
              <td> <%= p.medical_background %> </td>
              <td class="flex items-center pt-1.5 gap-x-1.5">
                <%= link_to edit_patient_path(p), method: :patch, class: 'h-4', title: 'Editar' do %>
                  <%= show_svg('edit-solid.svg') %>
                <% end %>
                <%= button_to patient_path(p), method: :delete, data: { turbo_confirm: '¿Estas seguro?' }, class: 'h-4 flex', title: "Eliminar" do %>
                  <%= show_svg('trash-solid.svg')  %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <td colspan='2'> <p>No hay registros</p> </td>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to 'Agregar paciente', new_patient_path, class: 'bg-violet-800
                                                            hover:bg-violet-900
                                                            shadow-md shadow-black
                                                            text-white font-bold
                                                            py-2 px-4 rounded' %>
</div>
