<div class='shadow-md shadow-black rounded p-4 m-4 bg-violet-200'>
  <h1 class='text-3xl mb-4 text-black flex justify-center text-violet-800'>Pacientes</h1>
  <div class = "shadow-lg shadow-black rounded p-4 mb-6 bg-white">
    <%= render 'search_field' %>
    <table class='w-full text-sm text-left text-gray-500 dark:text-gray-400 mb-5 border-black table-auto'>
      <thead class='text-lg text-white uppercase bg-violet-800 '>
        <tr>
          <td>Nombre</td>
          <td>Edad</td>
          <td>Fecha Ingreso</td>
          <td>Genero</td>
          <td>Antecedentes</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% if @patients.any? %>
          <% @patients.each do |p| %>
            <tr>
              <td> <%= p.name %> </td>
              <td> <%= p.age %> </td>
              <td> <%= p.registered_at %> </td>
              <td> <%= p.gender.titleize %> </td>
              <td> <%= p.medical_background %> </td>
              <td class="flex items-center pt-1.5 gap-x-1.5">
                <%= link_to edit_patient_path(p), method: :patch, class: 'h-4', title: 'Editar' do %>
                  <%= show_svg('edit-solid.svg') %>
                <% end %>
                <%= button_to patient_path(p), method: :delete, data: { turbo_confirm: '¿Estas seguro?' }, class: 'h-4 flex', title: "Eliminar" do %>
                  <%= show_svg('trash-solid.svg')  %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <td colspan='2'> <p>No hay registros</p> </td>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to 'Agregar paciente', new_patient_path, class: 'bg-violet-800
                                                            hover:bg-violet-900
                                                            shadow-md shadow-black
                                                            text-white font-bold
                                                            py-2 px-4 rounded' %>
</div>
