<%= turbo_stream.replace "patients_list" do %>
  <%= turbo_frame_tag "patients_list" do %>
    <% if @patients.any? %>
      <div class="overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nombre</th>
              <% unless ['name', 'medical_record'].include?(params[:attribute_name]) %>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  <%= t("activerecord.attributes.patient.#{params[:attribute_name]}") %>
                </th>
              <% end %>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <% @patients.each do |patient| %>
              <tr class="hover:bg-blue-50 hover:shadow-md transition-all duration-200 ease-in-out">
                <td>
                  <%= link_to edit_patient_path(patient), class: "block px-6 py-4 whitespace-nowrap hover:text-blue-600" do %>
                    <%= patient.name %>
                  <% end %>
                </td>
                <% unless ['name', 'medical_record'].include?(params[:attribute_name]) %>
                  <td>
                    <%= link_to edit_patient_path(patient), class: "block px-6 py-4 whitespace-nowrap hover:text-blue-600" do %>
                      <%= patient.send(params[:attribute_name]) %>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="flex justify-center py-4">
        <%== pagy_nav(@pagy, link_extra: 'data-turbo-stream="true"') %>
      </div>
    <% else %>
      <div class="text-center py-8">
        <p class="text-gray-500">No se encontraron pacientes que coincidan con la búsqueda.</p>
      </div>
    <% end %>
  <% end %>
<% end %>
